{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>THE BRIDGE (DS Bootcamp)</h1>
    <p>Clasificación de Supervivencia de Pasajeros del Titanic</p>
  </div>
  <div class="container">
    <div class="card">
      <img
        class="card-img-top"
        src="https://akm-img-a-in.tosshub.com/indiatoday/titanic_647_041416113640.jpg?size=1200:675"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Recreación del Titanic</h5>
        <p class="card-text">
          El RMS Titanic fue un transatlántico británico que se hundió en el
          Océano Atlántico Norte en las primeras horas del 15 de abril de 1912,
          después de chocar con un iceberg durante su viaje inaugural desde
          Southampton a la ciudad de Nueva York. Se estima que había 2,224
          pasajeros y tripulantes a bordo del barco, y más de 1,500 murieron, lo
          que lo convierte en uno de los desastres marítimos comerciales más
          mortales en tiempos de paz de la historia moderna. El RMS Titanic era
          el barco más grande en servicio en el momento de su entrada en
          servicio y fue el segundo de los tres transatlánticos de la clase
          olímpica operados por la White Star Line. El Titanic fue construido
          por el astillero Harland and Wolff en Belfast. Thomas Andrews, su
          arquitecto, murió en el desastre.
        </p>
      </div>
    </div>
    <p>
      <a class="btn btn-primary btn-lg" href="/predict" role="button"
        >Empecemos &raquo;</a
      >
    </p>
  </div>
</div>
{% endblock %}
